.content__container {
  background-color: aliceblue;
}

.card__container {
  width: fit-content;
  padding: 20px;
  font-family: monospace;
  font-size: 24px;
}

.invisible__drag_handler {
  position: absolute;
  bottom: 100%;
  right: 0;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: flex-end;
}
.drag_handler__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100%);
  height: calc(100% + 20px);
}

.drag_handler {
  opacity: 0;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  transform: translateY(10px);
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  margin-left: 20px;
}

.content__container:hover .drag_handler {
  opacity: 1;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 50%;
  transform: translateY(0);
  transition: all 0.2s ease-in-out;
}

.icon {
  display: block;
  font-size: 24px;
}

.title {
  font-weight: 500;
  margin-bottom: 20px;
}

.description {
  max-width: 350px;
  font-size: 16px;
  margin-bottom: 20px;
}
